body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* UNUSED CSS (INTENTIONAL) */
.unused-class {
    color: red;
    font-size: 50px;
}

/* HEAVY STYLES */
img {
    width: 500px;
    height: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
}